@import 'styles/globals';

:global {
  .browserupgrade {
    background: darkorange;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 99999999;

    a {
      color: darkmagenta;
      text-decoration: underline;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
}

body {
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: #fafafa;
  color: #666;
}

// TODO(buzugu): use appropriate styling
:focus {
  outline: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat;
  text-transform: uppercase;
}

h1 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.05rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-weight: 600;

  span {
    margin-bottom: 5px;
  }
}

input,
textarea {
  font-family: 'PT Sans', sans-serif;
  border: solid 1px lightgrey;
  border-radius: 2px;
  padding: 10px;
  transition: border-color 0.1s;

  &:focus {
    border-color: $color-blue;
  }
}
textarea {
  resize: none;
}

:global(.button) {
  font-family: 'PT Sans';
  font-weight: 600;
  padding: 10px;
  background: $color-blue;
  color: white;
  border-bottom: solid 1px $color-darkblue;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background-color: $color-darkblue;
  }

  &:disabled {
    background-color: lighten($color-blue, 25%);
    border-bottom-color: lighten($color-darkblue, 25%);
  }

  &:global(.red) {
    background: $color-red;
    border-bottom: solid 1px $color-darkred;

    &:hover {
      background-color: $color-darkred;
    }

    &:disabled {
      background-color: lighten($color-red, 25%);
      border-bottom-color: lighten($color-darkred, 25%);
    }
  }
}

.content {
  padding: $gutter-size;
}

.upcomming {
  composes: card from './styles/card.scss';
  margin-bottom: 20px;
}
