@import 'styles/globals';

.Search {
  @media screen and (min-width: $breakpoint-large) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.adverts {
  h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center;
  }

  li {
    margin-top: 15px;
  }
}
